@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

:root {
  /* light theme */
  --veryLightGray: hsl(0, 0%, 98%);
  --veryLightGrayishBlue: hsl(236, 33%, 92%);
  --lightGrayishBlue: hsl(233, 11%, 84%);
  --darkGrayishBlue: hsl(236, 9%, 61%);
  --veryDarkGrayishBlue: hsl(235, 19%, 35%);
  --brightBlue: hsl(220, 98%, 61%);

  /* dark theme */
  --veryDarkBlue: hsl(235, 21%, 11%);
  --veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
  --lightGrayishBlue: hsl(234, 39%, 85%);
  --lightGrayishBlueHover: hsl(236, 33%, 92%);
  --darkGrayishBlue: hsl(234, 11%, 52%);
  --veryDarkGrayishBlue1: hsl(233, 14%, 35%);
  --veryDarkGrayishBlue2: hsl(237, 14%, 26%);
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  font-family: "Josefin Sans", sans-serif;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
#root {
  width: 100%;
  height: 100%;
}
/* container */
.container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -2;
}
/* theme */
#light.container {
  background-color: var(--veryLightGrayishBlue);
}
#dark.container {
  background-color: var(--veryDarkBlue);
}
/* bg container */
.bg-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 70%;
  z-index: -1;
}
.bg-container img {
  /* height: 250px; */
  max-width: 100%;
  /* margin: auto;
  display: block; */
  object-fit: contain;
}

/* root layout */
.root-layout {
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 450px;
  z-index: 2;
}
header {
  width: 100%;
  padding-top: 3rem;
}
.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo h1 {
  letter-spacing: 5px;
  color: white;
}
.logo img {
  width: 20px;
  cursor: pointer;
}
.text-field {
  padding: 0.7rem 1rem;
  border-radius: 5px;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.text-field input[type="text"] {
  border: none;
  background-color: transparent;
  width: 90%;
  font-size: 0.9rem;
  caret-color: var(--brightBlue);
  font-family: "Josefin Sans", sans-serif;
}
.text-field input[type="text"]:focus {
  outline: none;
}
/* theme */
#light .text-field {
  background-color: var(--veryLightGray);
}
#light .text-field input[type="text"] {
  color: var(--veryDarkDesaturatedBlue);
}
#light .text-field input[type="text"]::placeholder {
  color: var(--veryDarkGrayishBlue1);
  font-family: "Josefin Sans", sans-serif;
}
#dark .text-field {
  background-color: var(--veryDarkGrayishBlue2);
}
#dark .text-field input[type="text"] {
  color: var(--lightGrayishBlueHover);
}
#dark .text-field input[type="text"]::placeholder {
  color: var(--darkGrayishBlue);
  font-family: "Josefin Sans", sans-serif;
}

/* todo container */
.todo-container {
  margin-top: 1rem;
  padding: 0;
  border-radius: 5px;
  width: 100%;
}
.todo-container .text-field {
  padding: 0 1rem;
  border-bottom: 1px solid var(--lightGrayishBlue);
  font-size: 0.9rem;
  position: relative;
}
.todo-container .cross-icon {
  display: none;
  position: absolute;
  cursor: pointer;
  right: 0.7rem;
}
.todo-container .text-field p {
  width: 100%;
  cursor: pointer;
}
.todo-container .text-field p:hover ~ .cross-icon {
  display: block;
}
.todo-container .cross-icon:hover {
  display: block;
}
.line-through {
  text-decoration: line-through;
  color: var(--darkGrayishBlue);
}
/* themes */
#light .todo-container {
  background-color: var(--veryLightGray);
}
#light .todo-container .text-field {
  color: var(--veryDarkDesaturatedBlue);
}
#dark .todo-container {
  background-color: var(--veryDarkGrayishBlue2);
}
#dark .todo-container .text-field {
  color: var(--lightGrayishBlueHover);
}
/* last child */
.todo-container .last-child {
  padding: 0 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}
.todo-container .last-child :last-child {
  cursor: pointer;
}
.todo-container .last-child nav {
  display: flex;
  gap: 0.8rem;
}
.todo-container .last-child nav a.active {
  color: var(--brightBlue) !important;
  font-weight: bold;
}
/* themes */
#light .todo-container .last-child {
  color: var(--veryDarkGrayishBlue1);
}
#light .todo-container .last-child nav a {
  text-decoration: none;
  color: var(--veryDarkGrayishBlue1);
}
#light .todo-container .last-child nav > *:hover {
  color: var(--darkGrayishBlue);
}
#light .todo-container .last-child > *:hover {
  color: var(--darkGrayishBlue);
}
#dark .todo-container .last-child {
  color: var(--darkGrayishBlue);
}
#dark .todo-container .last-child nav > *:hover {
  color: var(--lightGrayishBlueHover);
}
#dark .todo-container .last-child > *:hover {
  color: var(--lightGrayishBlueHover);
}
#dark .todo-container .last-child nav a {
  text-decoration: none;
  color: var(--darkGrayishBlue);
}

/* icons */
.check-box {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: 1px solid var(--darkGrayishBlue);
  display: grid;
  place-items: center;
  cursor: pointer;
}
.check-box:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  position: relative;
  border: 1px solid transparent;
  /* border-radius: 50%; */
}
.check-box:hover::before {
  content: "";
  display: block;
  height: calc(100% - calc(1px * 2));
  width: calc(100% - calc(1px * 2));
  position: absolute;
  top: 1px;
  left: 1px;
  border-radius: 50%;
}
#light .check-box:hover::before {
  background: var(--veryLightGray);
}

#dark .check-box:hover::before {
  background: var(--veryDarkGrayishBlue2);
}
.checked {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  cursor: pointer;
}
.checked:hover {
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

@keyframes AnimateBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
